doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Attributes
	body
		h1 Attributes
		a(href="http://www.google.com", target="_blank") Go to Google
		| &nbsp; | &nbsp;
		a(
			class="link",
			href="http://www.youtube.com",
			target="_blank"
		) Go to Youtube
		
	