doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Variable Attribute
	body
		- var classes = ['red', 'green', 'blue']
		- var idu = "main01"
		h1(id=idu, class=classes) Variable Attribute
	