doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title For Loop
	body
		h1 For Loop
		ul
			-for(var i = 1; i <= 20; i++)
				li Element #{i}
		table(border="1")
			-for(var tr = 1; tr <= 5; tr++)
				tr
					-for(var td = 1; td <=10; td++)
						td F#{tr} C#{td}
		