@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: 'Poppins';
}

body {
    background-color: #f4fcf4;
}
div.title {
    background: url(../img/Gow-titulo.png) no-repeat center;
    background-size: contain;
    height: 200px;
    margin: 0 auto;
    max-width: 1000px;
}
@media (max-width: 600px) {
    div.title{
        background: url(../img/Gow-titulo2.png) no-repeat center;
        background-size: cover;
        height: 220px;
        margin: 10px auto;
        width: 300px;
    }
}
div.gallery {
    height: 220px;
    margin: 20px auto;
    width: 1024px;
}
div.gallery div{
    display: inline-block;
    height: 220px;
    margin: 0 16px;
    position: relative;
    width: 220px;
}
div.GowII {
    background: url(../img/Gow-II.jpg) no-repeat center;
    background-size: cover;
}
div.GowIII {
    background: url(../img/Gow-III.jpg) no-repeat center;
    background-size: cover;
}
div.GowAscension {
    background: url(../img/Gow-Ascension.jpg) no-repeat center;
    background-size: cover;
}
div.GowIV {
    background: url(../img/Gow-IV.jpg) no-repeat center;
    background-size: cover;
}
div.gallery h3 {
    background-color: #000c;
    bottom: 0;
    color: #fff9;
    font-weight: 300;
    height: 30px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 220px;
}
div.gallery div:hover {
    cursor: pointer;
}
div.gallery div:hover h3{
    color: #fff;
    cursor: pointer;
    height: 50px;
    transition: all 0.5s;  
}
@media (max-width: 1024px) {
    div.gallery {
        height: 447px;
        margin: 0 auto;
        width: 485px;
    }
    div.gallery div {
        height: 220px;
        margin: 10px 10px;
        width: 220px;
    }
}
@media (max-width: 600px) {
    div.gallery{
        height: 938px;
        margin: 0 auto;
        width: 220px;
    }
    div.gallery div {
        height: 220px;
        margin: 5px auto;
        width: 220px;
    }
}
div.info {
    background-color: #f0f0f0;
    border-radius: 8px;
    min-height: 500px;
    margin: 70px auto;
    width: 1000px;
}
div.txt {
    background-color: #fff;
    border: 1px solid #a8a8a8;
    border-top: 5px solid #be1e1e;
    border-radius: 5px;
    display: inline-block;
    margin: 30px 10px;
}
div.info figure {
    float: left;
    height: 220px;
    margin: 0 auto;
    margin-right: 10px;
    width: 220px;
}
div.info figure.Ares {
    background: url(../img/Ares.jpg) no-repeat center;
    background-size: cover;
}
div.info figure.Zeus {
    background: url(../img/Zeus.jpg) no-repeat center;
    background-size: cover;
}
div.info p {
    margin-right: 10px;
    text-align: justify;
}
div.developer {
    color: #a8a8a877;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}
@media (max-width: 1024px) {
    div.info {
        margin: 70px auto;
        width: 466px;
    }
    div.info div.txt {
        height: 200px;
    }
    div.info figure {
        height: 200px;
        width: 200px;
    }
    div.info h2 {
        margin-top: 0;
    }
    div.info p {
        font-size: 0.8rem;
        height: 160px;
        margin-top: -15px;
        overflow-y: scroll;
        padding-right: 5px;
        text-align: justify;
    }
}
@media (max-width: 600px){
    div.info {
        margin: 70px auto;
        max-width: 230px;
    }
    div.info div.txt {
        border: none;
        min-height: 410px;
        width: auto;
    }
    div.info figure {
        float: top;
        height: 200px;
        margin: 0 5px;
        margin-top: 10px;
        width: 200px;
    }
    div.info h2 {
        margin-top: 0;
        margin: 0 auto;
    }
    div.info p {
        font-size: 0.8rem;
        height: 160px;
        margin: 0 auto;
        margin-top: 2px;
        overflow-y: scroll;
        padding-right: 5px;
        text-align: justify;
    }
}