@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: url(/04-CSS3/img/bgcss3.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

main {
  margin: 2rem auto;
  width: 80%;
}

header h1 {
  border-radius: 8px;
  border-bottom: 4px solid #0170ba;
  background-color: #ffffff66;
  color: #333;
  padding: 2rem;
  font-weight: 500;
  text-align: center;
}

header h1 a:link,
header h1 a:visited {
  background-color: #00000066;
  color: #fff;
  float: left;
  padding: 0 6px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease-in;
}

header h1 a:hover {
  background-color: #000000bb;
  transform: scale(0.8);
}

section {
  background-color: #ffffff52;
  color: #333;
  padding: 2rem;
  min-height: 20rem;
}

section h3 {
  text-align: center;
  border-bottom: 2px dotted #df3e16;
  padding: 10px;
}
