doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Main Menu (PUG)
    body 
        h1 Main Menu (PUG)
        ul.links
            li
                a(href='01-document.html') 01-Document
            li
                a(href='02-attributes.html') 02-Attributes
            li
                a(href='03-style-attr.html') 03-Style attr
            li
                a(href='04-variables-attr.html') 04-Variables attr
            li
                a(href='05-literal-attr.html') 05-Literal attr
            li
                a(href='06-css.html') 06-CSS
            li
                a(href='07-javascript.html') 07-Javascript
            li
                a(href='08-cases.html') 08-Cases
            li
                a(href='09-for-loop.html') 09-For loop
            li
                a(href='10-comments.html') 10-Comments
            li
                a(href='11-conditionals.html') 11-Conditionals
            li
                a(href='12-include.html') 12-Include
            li
                a(href='13-include-text.html') 13-Include text
            li
                a(href='14-inheritance.html') 14-Inheritance
            li
                a(href='15-iterations.html') 15-Iterations
            li
                a(href='16-mixin.html') 16-Mixin
            li
                a(href='17-challenge.html') 17-Challenge
            
