body {
  background: linear-gradient(#ccc, #666);
  font-family: arial;
  color: #333;
  height: 120vh;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 40px auto;
  width: 20rem;
}

ul li {
  background-color: #ffffff33;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 4px 0px;
}

ul li a:link,
ul li a:visited {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 20px;
  transition: all 0.2s ease-in;
}

ul li a:hover {
  background-color: #999;
  color: #fff;
}

ul li a:active {
  transform: scale(0.9);
}
