body main {
	width: 1024px;
}
main {
	.text-custom {
		text-shadow: 1px 1px 2px #fff, 2px 2px 4px #742d56 ;
		text-transform: uppercase;
	}
	h1 {
		// Herencia
		@extend .text-custom;
		text-align: center;
	}
	.box-custom {
		border: 2px solid #fff;
		border-radius: 4px;
		box-shadow: 2px 2px 12px #000;
	}
	div.slider {
		// Herencia
		@extend .box-custom;
		height: 640px;
		overflow: hidden;
		margin: 20px auto;
		position: relative;
		width: 960px;
		#slider1:target ~ div.sliders {
			left: 0;
		} 
		#slider1:target ~ div.sliders ~ div.controls a:nth-child(1),
		#slider2:target ~ div.sliders ~ div.controls a:nth-child(2),
		#slider3:target ~ div.sliders ~ div.controls a:nth-child(3),
		#slider4:target ~ div.sliders ~ div.controls a:nth-child(4),
		#slider5:target ~ div.sliders ~ div.controls a:nth-child(5) {
			border: 2px solid rgba(0,0,0,.8);
			background-color: rgba(0,0,0,.6);
			transform: scale(1.1);
		}
		#slider2:target ~ div.sliders {
			left: -960px;;
		}
		#slider3:target ~ div.sliders {
			left: -1920px;
		}
		#slider4:target ~ div.sliders {
			left: -2880px;
		}
		#slider5:target ~ div.sliders {
			left: -3840px;
		}

		div.sliders {
			position: absolute;
			transition: left 0.8s ease-in;
			z-index: 1;
			width: 4800px;
			img {
				float: left;
				position: relative;
				margin: 0px;
				padding: 0px;
			}
		}
		div.controls {
			position: absolute;
			bottom: 20px;
			left: 44%;
			z-index: 2;
			a {
				border: 2px solid rgba(255,255,255,.6);
				border-radius: 20px;
				background-color: rgba(255,255,255,.4);
				display: inline-block;
				height: 20px;
				text-decoration: none;
				text-indent: -9999px;
				transition: all 0.2s;
				transform: scale(.8);
				width: 20px;
				&:hover {
					border: 2px solid rgba(255,255,255,.8);
					background-color: rgba(255,255,255,.6);
					transform: scale(1.1);
				}
			}
		}
	}
}